<div class="site-navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/media">Media</a></li>
    </ul>
</div>