/*
    UNIVERSAL/LAYOUT STYLES
*/

* {
    margin: 0;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #f39c12, #f39c12 33.33%, #ecf0f1 33.33%, #ecf0f1, #ecf0f1 66.66%, #2ecc71 66.66%, #2ecc71, #2ecc71 100%);
}

.black-overlay {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgba(0, 0, 0, 0.1);
}

/*
@media (max-width: 1100px) and (orientation: landscape) { ipad stuff
    .body-container {
        width: 75vw;

        margin-left: auto;
        margin-right: auto;

        height: 100vh;

        background: #ecf0f1;

        box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
    }
}
*/

.body-container {
    width: 75vw;

    margin-left: auto;
    margin-right: auto;

    height: 100vh;

    background: #ecf0f1;

    box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
}


.site-title {

    text-align: center;

    color: #2c3e50;

    font-family: Halant, serif;
    font-size: 50px;
    font-weight: 600;

    padding-top: 75px;
    padding-bottom: 35px;

}

.page-content {
    padding: 50px 50px;
}


/*
    NAVBAR
*/

.site-navbar {
    text-align: center;
}

.site-navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-navbar > ul > li {
    display: inline;

    padding: 0px 35px;
}

.site-navbar > ul > li > a {
    
    text-decoration: none;

    color: #2c3e50;

    font-family: Halant, serif;
    font-size: 20px;
    font-weight: 600;

}

.site-navbar > ul > li > a {
    
    text-decoration: none;

    color: #2c3e50;

    font-family: Halant, serif;
    font-size: 20px;
    font-weight: 600;

}

.site-navbar > ul > li > a:hover {
    border-bottom: 2px solid #34495e;
}