.body-container {
    width: 93vw;

    margin-left: auto;
    margin-right: auto;

    height: 100vh;

    background: #ecf0f1;
}

.site-title {

    text-align: center;

    color: #2c3e50;

    font-family: Halant, serif;
    font-size: 75px;
    font-weight: 600;

    padding-top: 75px;
    padding-bottom: 15px;

}

.page-content {
    padding: 100px 100px;
}

.site-navbar > ul > li > a {
    
    text-decoration: none;

    color: #2c3e50;

    font-family: Halant, serif;
    font-size: 50px;
    font-weight: 600;

}

/*
    BODY CONTENT
*/

.title {
    font-size: 50px;
    /*text-indent: 60px;*/
}

.info {
    font-size: 30px;
    text-indent: 60px;
}

/*
    HOME CONTENT
*/

.event-card {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #D5D9D9;

    background-color: #f2f6f7;

    /*padding: 10px 20px;*/

    margin-bottom: 10px;

    box-shadow: 10px 0px 9px -9px #999, -10px 0px 9px -9px #999, 0px 10px 9px -9px;
    font-family: Open Sans, sans-serif;

}

.event-title {
    padding: 10px 20px;
    font-family: Halant, serif;
    font-size: 50px;
}

.event-info {
    padding: 10px 20px;
    font-size: 30px;
}

.event-date {
    padding: 10px 20px;
    font-size: 30px;
}