<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <link rel="manifest" href="/manifest.json">
    <!-- <link rel="icon" sizes="144x144" href="icon/144.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="144x144" href="icon/144.png"> -->
    <title>Society of Indian Americans</title>
    <link href='//fonts.googleapis.com/css?family=Halant:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style-general.css">
    <link rel="stylesheet" href="style-computer.css" media="(min-width: 1398px) and (orientation: landscape)">
    <link rel="stylesheet" href="style-mobile.css" media="(orientation: portrait)">
    <link rel="stylesheet" href="style-landscapestuff.css" media="(max-width: 1398px) and (orientation: landscape)">
    <link rel="stylesheet" href="extraneous.css">
</head>
<body>
    <div class="black-overlay">

        <div class="body-container">
    
            <div class="site-title">
               Society of Indian Americans
            </div>

            <div class="instabtn">
                <a href="https://www.instagram.com/vt_sia/?ref=badge" class="ig-b- ig-b-v-24"><img src="images/maininsta.png" alt="Instagram" /></a>
            </div>
            

            <% include partials/navbar %>

            <div class="page-content">
                <%- yield %>
            </div>

        </div>
        
    </div>
</body>
<!-- <script src="service-worker-registration.js"></script> -->
</html>
