<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <link rel="manifest" href="/manifest.json">
    <!-- <link rel="icon" sizes="144x144" href="icon/144.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="144x144" href="icon/144.png"> -->
    <title>Society of Indian Americans</title>
    <link href='//fonts.googleapis.com/css?family=Halant:300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bundle.css">
</head>
<body>
    <div class="black-overlay">

        <div class="body-container">
    
            <div class="site-title">
               Society of Indian Americans
            </div>           

            <% include partials/navbar %>

            <div class="page-content">
                <%- yield %>
            </div>

        </div>
        
    </div>
</body>
<script src="service-worker-registration.js"></script>
<script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init('mousedown');</script>
</html>
