<h1 class="title">About us</h1>

<p class="info">
The Society of Indian Americans at Virginia Tech is a governing and programming body which provides students who have an interest in the Indian culture the opportunity to explore it and meet other students who share the same common interest. SIA is a social network formed by many volunteers and members who are committed to retaining a strong Indian cultural presence on campus. The association strives to provide a substantial identity for Indian culture at Virginia Tech by hosting an array of programs, dances, cultural-evenings, semi-formals, intramurals, socials and community service gatherings in a mission to make its members feel at home and united. Our motto, “culture & tradition,” is a direct reflection of our interest in enriching our culture and maintaining traditions here in Blacksburg.
</p>

<p class="info">
SIA is a cultural society dedicated to enriching the lives of the South Asian community at Virginia Tech, as well as the lives of other students who are interested in the culture and traditions of this region. We participate in many events, on and off campus, as well as host our own annual show at the end of the year in the hope of sharing our culture and heritage with others.
</p>

<p class="info">
We are a part of the Asian American Student Union (AASU) and the Council of International Students Organization (CISO). In addition, in an effort to embody our school motto, ut prosim, we participate in annual philanthropic events such as Relay for Life, the Big Event, and other similar causes so that we can give back to a community that does so much for us.
</p>

<p class="info">
We also encourage participation in any of the three dance teams associated with us, including VT Dhamaal, VT Bhangra, or VT Junoon.
</p>