<div class="exec-members">
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/sanjay.jpg" alt="">
            <div class="exec-name">Sanjay "PD" Adapa</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/sunny.jpg" alt="">
            <div class="exec-name">Sunny Eltepu</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/rima.jpg" alt="">
            <div class="exec-name">Rima Hore</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/harsh.jpg" alt="">
            <div class="exec-name">Harsh Patel</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/pallavi.jpg" alt="">
            <div class="exec-name">Pallavi Kanumuru</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/adarsh.jpg" alt="">
            <div class="exec-name">Adarsh Parbadia</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/devyarth.jpg" alt="">
            <div class="exec-name">Devyarth Patel</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/saahil.jpg" alt="">
            <div class="exec-name">Saahil Golia</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/swaraj.jpg" alt="">
            <div class="exec-name">Swaraj Dhumne</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/tanha.jpg" alt="">
            <div class="exec-name">Tanha Patel</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/satvika.jpg" alt="">
            <div class="exec-name">Satvika Chadive</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/malvika.jpg" alt="">
            <div class="exec-name">Malvika Damle</div>
        </div>
    </div>
    <div class="exec-member-container">
        <div class="exec-member">
            <img src="images/exec/varun.jpg" alt="">
            <div class="exec-name">Varun Nekkanti</div>
        </div>
    </div>
</div>