<div class="event-card">
    <h1 class="event-title">Launch Week</h1><hr/>
    <p class="event-info">Tons of fun events all throughout the week! Check out the facebook page for more details!</p><hr/>
    <p class="event-date">9/5/2016-9/9/2016</p>
</div>

<div class="event-card">
    <h1 class="event-title">Mahila Adhyayan Kendra</h1><hr/>
    <p class="event-info">Charity that works towards education and vocation for children. Please contribute <a href="http://www.makdewas.org/">here</a></p><hr/>
    <p class="event-date">9/5/2016-9/9/2016</p>
</div>

<h1 class="title">Hello!</h1>

<p class="info">For those of you who are new, SIA is a cultural society dedicated to enriching the lives of the South Asian community at Virginia Tech, as well as the lives of other students who are interested in the culture and traditions of this region. We participate in many events, on and off campus, as well as host our own annual show at the end of the year in the hope of sharing our culture and heritage with others. </p>

<p class="info">We also encourage participation in any of the three dance teams associated with us, including VT Dhamaal, VT Bhangra, or VT Junoon.</p>