<div class="event-card">
    <h1 class="event-title">Freshman Mixer</h1><hr/>
    <p class="event-info">Freshmen get to know each other</p><hr/>
    <p class="event-date">8/24/2016</p>
</div>

<h1 class="title">Hello!</h1>

<p class="info">For those of you who are new, SIA is a cultural society dedicated to enriching the lives of the South Asian community at Virginia Tech, as well as the lives of other students who are interested in the culture and traditions of this region. We participate in many events, on and off campus, as well as host our own annual show at the end of the year in the hope of sharing our culture and heritage with others. </p>

<p class="info">We also encourage participation in any of the three dance teams associated with us, including VT Dhamaal, VT Bhangra, or VT Junoon.</p>