<div class="site-navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="https://www.instagram.com/vt_sia/?ref=badge" target="_blank">Pictures</a></li>
        <li><a href="/exec">Exec Board</a></li>
        <li>
            <ul class="soc">
                <li><a class="soc-twitter" href="https://www.twitter.com" target="_blank"></a></li>
                <li><a class="soc-facebook" href="https://www.facebook.com/groups/531063343760910" target="_blank"></a></li>
                <li><a class="soc-instagram soc-icon-last" href="https://www.instagram.com/vt_sia/?ref=badge" target="_blank"></a></li>
            </ul>
        </li>
    </ul>
</div>