<div class="site-navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="https://www.instagram.com/vt_sia/?ref=badge" target="_blank">Pictures</a></li>
        <li><a href="/exec">Exec Board</a></li>
    </ul>
</div>